body {
    background-color: lightblue; 
}

h1 {
    color: navy;
    margin-left: 20px;
 
}

p{
    /* text-align: center; */
    text-transform: uppercase;
}
img{
    width:200px;
    height:200px;
    align-items: center;
}